<div class="container-fluid" style="margin-top: 20px; margin-left: 33%;">
    <div class="row">
        <div class="col-md-6">
            <div id="formConcept">
                <div class="col-md-6">
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" (click)="onSetValue()">Set Value</button>
                        </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" (click)="onPatchValue()">Patch Value</button>
                    </div>
            </div>
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                    <div formGroupName="userData">
                        <div class="form-group">
                            <input 
                                type="email" 
                                placeholder="enter email" 
                                class="form-control"
                                id="usernameId"
                                formControlName="username">
                            <small 
                                style="font-family: cursive; color: red;"
                                *ngIf="!signUpForm.get('userData.username').valid && signUpForm.get('userData.username').touched">
                                <span *ngIf="signUpForm.get('userData.username').errors['required']">
                                    This field cannot be empty.
                                </span>
                                <span *ngIf="signUpForm.get('userData.username').errors['adminNameNotAllowed']">
                                    Admin Name is not allowed here.
                                </span>
                            </small>
                        </div>
                        <div class="form-group">
                            <input 
                                type="password" 
                                placeholder="enter password" 
                                class="form-control"
                                id="passwordId"
                                formControlName="password">
                            <small 
                                style="font-family: cursive; color: red;"
                                *ngIf="!signUpForm.get('userData.password').valid && signUpForm.get('userData.password').touched">Please give correct password
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="radio" *ngFor="let sex of genders">
                            <label><input 
                                        type="radio" 
                                        [value]="sex"
                                        formControlName="gender">{{sex | titlecase}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <hr>
                            <button 
                                type="button" 
                                class="btn btn-default btn-block" 
                                (click)="addHobby()">Add Hobby
                            </button>
                            <div formArrayName="hobbies">
                                <div 
                                    class="form-group" 
                                    *ngFor="let hobby of signUpForm?.get('hobbies').controls; let i=index">
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            placeholder="Add hobby here..."
                                            [formControlName]="i">
                                </div>
                            </div>
                        <hr>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <button 
                                [disabled]="!signUpForm.valid"
                                class="btn btn-success btn-block" 
                                type="submit">Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>