<div class="container">
    <div class="row">
        <div *ngIf="isLoggedIn" style="margin: auto; color: green;">You already loggedin !!</div>
        <div *ngIf="!isLoggedIn" style="margin: auto; color: red;">You already loggedout !!</div>
    </div>
</div>

<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div   
                class="col-sm-4" 
                routerLinkActive="routeActive" 
                [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/">Home</a>
            </div>

            <div 
                class="col-sm-4" 
                routerLinkActive="routeActive">
                <a routerLink="/users">Users</a>
            </div>

            <div 
                class="col-sm-4" 
                routerLinkActive="routeActive">
               <a [routerLink]="['/servers']">Servers</a>
            </div>
        </div>
    </div>
</div>

<router-outlet (activate)="componentAdded($event)"></router-outlet>
